@import url(./manrope.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');
/*
font-family: 'Manrope-Variable';
font-family: 'Manrope-ExtraLight';
font-family: 'Manrope-Light';
font-family: 'Manrope-Regular';
font-family: 'Manrope-Medium';
font-family: 'Manrope-SemiBold';
font-family: 'Manrope-Bold';
font-family: 'Manrope-ExtraBold';
*/

$col-bg: #f4f4f4;
$col-text: black;

@mixin centering($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Manrope-Regular';
    overflow-x: hidden;

    &:hover {
        #trailer {
            opacity: 1;
        }
    }
}

#trailer {
    height: 80px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 80px;

    mix-blend-mode: overlay;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 500;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.hero-bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('/src/media/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: btop;
}

.hero {
    height: 50vh;
    width: 100%;
}

.hero-top {
    background-color: $col-bg;
    color: $col-text;

    @include centering(center, center);

    transform: translateX(100%);
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.hero-bottom {
    background-color: $col-text;
    height: 80vh;
    color: $col-text;
    transform: translateX(-100%);
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    text-align: center;

    display: inline-block;
    position: relative;
    line-height: 0;
    //background: #42a4ff;
}


.hero-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12rem;
    font-weight: 400;
    letter-spacing: -5px;
    cursor: default;

    span {
        transition: transform 0.1s;
    }

    span:nth-child(1) {
        transform: scaleX(0);
        animation: scaleUp 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        transition-delay: 1s;
    }

    span:nth-child(2) {
        transform: scaleX(0);
        animation: scaleUp 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        transition-delay: 2s;
    }
}

@keyframes scaleUp {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.navbar {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $col-text;
    @include centering();
    flex-direction: row;
    position: fixed;
    top: 0;

    a {
        font-size: 1.25rem;
        margin: 14px;

        span {
            opacity: 0.2;
        }
    }
}

.about {
    height: 100vh;
    width: 100vw;
    color: $col-bg;
    background-color: black;

    @include centering(center, center);

    .about-container {
        width: 90%;
        @include centering(center, space-between);
        flex-direction: row;

        div {
            position: relative;
            width: 50%;
            padding: 20px;

            p {
                text-align: justify;
                font-weight: bold;
                font-size: 2rem;

            }
        }


        img {
            width: 40%;
            float: right;
            border-radius: 3px;
        }
    }

}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes opacity-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}